.container{
	position: relative;
	text-align: center;
	font-size: 2vw;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img{
  filter: opacity(50%);
  height: 80%;
  width: 90%;
}
body{
	background-color: rgb(153, 255, 255, 0.3);
}